@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 5px 5px 70px;
}


header a{
    padding: 25px;
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-family: New Amsterdam;
}

header a:hover{
    color: grey;
}
#title{
    opacity: 0.8;
    top: 0;
    padding: 10px;
    width: 10%;
    height: 30%;
    font-family: New Amsterdam;
    font-size: 50px;
    margin-left: 10%;
    margin-right: 10%;
}


i{
    visibility: hidden;
    /* margin-left: 500%;
    font-size: 40px;
    padding: 20px; */

}

 /*? header tag ends here */


main #titlecontainer{
    object-fit: cover;
}

#titlecontainer img{
    top: 0;
    opacity: 0.7;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: -1;
}

#titlecontainer #tdetails {
    margin-top: -20%;
    margin-left: 5%;
    width: 50%;
    text-shadow: 5px 5px 7px grey ;
    font-size: xx-large;
    font-family:story script ;
    z-index: 0;

}

#titlecontainer #tdetails #more{
    font-family: poppins;
    width: 120px;
    height: 60px;
    text-shadow: none;
    border-radius: 10px;
    background-color: white;
}

